body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px;
    color: $primaryColor;
}

.ba-banner {
    height: 100vh;
    background: #a2c0cf url("../img/bg-header.jpg") no-repeat;
    background-size: cover;
}

.ba-hero {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: relative;

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        // margin-top: 244px;
        text-transform: uppercase;
        letter-spacing: 3.8px;
        margin: 0;
    }

    &__descr {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: 5px;
    }

    &-form {
        font-family: 'Josefin Sans', sans-serif;
        width: 652px;
        margin-top: 53px;
        display: flex;

        &__input {
            display: flex;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            letter-spacing: 5px;
            height: 60px;
            width: 75%;
            padding: 24px 0;
            border: 1px solid #c1c1c1;
            border-right: none;
            // flex-grow: 1;
            text-align: center;
        }

        &__btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-family: 'Aleo', serif;
            height: 60px;
            width: 25%;
            border: 2px solid $primaryColor;
            background-color: $secondaryColor;
            color: $primaryColor;
            text-transform: uppercase;
            text-align: center;

            font-size: 14px;
            font-weight: 400;
            padding: 20px;
            transition: 0.4s;

            span {
                margin-right: 14px;
            }
        }

    }

    &-scroll {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.5px;
        margin-top: 7.5rem;

        a {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: $primaryColor;

            img {
                margin-top: 10px;
            }
        }


    }
}

.ba-header {
    background-color: $secondaryColor;
}

.ba-menu {
    height: 80px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: $primaryColor;
    }

    a:hover {
        opacity: .7;
    }

    &__logo {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        // line-height: 26px;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-transform: uppercase;

        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;

        &__item:not(:first-child) {
            margin-left: 42px;
        }
    }
}



.ba-why {
    height: 686px;
    background: #333333 url("../img/bg2.jpg") no-repeat;
    background-size: cover;
}

.block {
    display: flex;

    &-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 175px;

        &__title {
            font-family: 'Aleo', serif;
            font-size: 36px;
            font-weight: 400;
        }

        &__descr {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1.9;
            margin-bottom: 34px;
        }

        &__btn {
            font-family: 'Aleo', serif;
            display: inline-block;
            width: 225px;
            height: 60px;
            margin-top: 16px;
            display: inline-block;
            color: $primaryColor;
            background-color: $secondaryColor;
            text-transform: uppercase;
            padding: 24px 0;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            transition: 0.4s;
        }

    }

    &-right {
        display: flex;
        // margin-left: 100px;
        margin-top: 120px;
        width: 50%;
        flex-direction: column;

        &__img1 {
            margin-left: 80px;
            align-self: flex-start;
        }

        &__img2 {
            align-self: flex-end;
        }


    }

}


.section4 {
    background-color: #333333;
    // border-top: 1px solid white ;

}

.ba-search {
    height: 336px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &-img-wrap {
            margin-bottom: 36px;
        }

        &__img {
            display: flex;
            height: 100px;
        }

        &__title {
            font-family: 'Aleo', serif;
            font-size: 36px;
        }
    }

}

.section5 {
    background: url("../img/bg5.jpg") no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;

}

.ba-wrap-end {
    display: flex;
    justify-content: flex-end;
}

.section6 {
    background: url("../img/bg6.jpg") no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
}


.ba-rectangle {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(35, 35, 35);
    opacity: 0.902;
    height: 62%;
    width: 48%;
    margin-top: 230px;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;

    &__name {
        font-size: 20px;
        margin: 0;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 28px;
    }

    &__text {
        font-size: 16px;
        margin-top: 28px;
    }

    &__btn {
        margin-top: 48px;
        font-family: 'Aleo', serif;
        display: inline-block;
        width: 14.06rem;
        height: 60px;
        display: inline-block;
        color: $primaryColor;
        background-color: $secondaryColor;
        text-transform: uppercase;
        padding: 24px 0;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }
}


.section7 {
    background: url("../img/bg7.jpg") no-repeat;
    background-size: cover;
    height: 730px;


}

.tourist-say {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        display: block;
        margin: 0;
        padding-top: 120px;
        padding-bottom: 100px;
        font-size: 36px;
        font-family: "Aleo";
        text-align: center;

    }

    &-block {
        display: flex;


        &-left {
            width: 40%;

            img {
                height: 100%;
            }
        }

        &-right {
            width: 60%;
            // display: block;
            // height: 100%;
            background-color: #333333;
            font-family: 'Josefin Sans', sans-serif;
            padding: 48px 52px;

            &__title {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 400;
            }

            i {
                display: block;
                font-size: 24px;
                color: #5474fd;
            }


            &__descr {
                margin: 0;
                text-indent: 20px;
            }
        }
    }
}



.ba-footer {
    display: flex;
    justify-content: center;
    background-color: #232323;
    font-family: 'Josefin Sans', sans-serif;

    &-block {
        width: 165px;
        margin-top: 118px;

        &__title {
            margin-top: 0;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }

        &__descr {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 34px;

        }

    }

}


.ba-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;

    &__items {
        color: $primaryColor;
    }

    &__items:hover {
        color: #5474fd;
    }
}