* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px; }

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 8px;
  color: #fff; }

.ba-banner {
  height: 100vh;
  background: #a2c0cf url("../img/bg-header.jpg") no-repeat;
  background-size: cover; }

.ba-hero {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .ba-hero__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.8px;
    margin: 0; }
  .ba-hero__descr {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 5px; }
  .ba-hero-form {
    font-family: 'Josefin Sans', sans-serif;
    width: 652px;
    margin-top: 53px;
    display: flex; }
    .ba-hero-form__input {
      display: flex;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      letter-spacing: 5px;
      height: 60px;
      width: 75%;
      padding: 24px 0;
      border: 1px solid #c1c1c1;
      border-right: none;
      text-align: center; }
    .ba-hero-form__btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: 'Aleo', serif;
      height: 60px;
      width: 25%;
      border: 2px solid #fff;
      background-color: #5474fd;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      padding: 20px;
      transition: 0.4s; }
      .ba-hero-form__btn span {
        margin-right: 14px; }
  .ba-hero-scroll {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5rem; }

.ba-header {
  background-color: #5474fd; }

.ba-menu {
  height: 80px;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .ba-menu a {
    text-decoration: none;
    color: #fff; }
  .ba-menu a:hover {
    opacity: .7; }
  .ba-menu__logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .ba-menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px; }
    .ba-menu-list__item:not(:first-child) {
      margin-left: 42px; }

.ba-why {
  height: 686px;
  background: #333333 url("../img/bg2.jpg") no-repeat;
  background-size: cover; }

.block {
  display: flex; }
  .block-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 175px; }
    .block-left__title {
      font-family: 'Aleo', serif;
      font-size: 36px;
      font-weight: 400; }
    .block-left__descr {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.9;
      margin-bottom: 34px; }
    .block-left__btn {
      font-family: 'Aleo', serif;
      display: inline-block;
      width: 225px;
      height: 60px;
      margin-top: 16px;
      display: inline-block;
      color: #fff;
      background-color: #5474fd;
      text-transform: uppercase;
      padding: 24px 0;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      transition: 0.4s; }
  .block-right {
    display: flex;
    margin-top: 120px;
    width: 50%;
    flex-direction: column; }
    .block-right__img1 {
      margin-left: 80px;
      align-self: flex-start; }
    .block-right__img2 {
      align-self: flex-end; }

.section4 {
  background-color: #333333; }

.ba-search {
  height: 336px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .ba-search-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .ba-search-block-img-wrap {
      margin-bottom: 36px; }
    .ba-search-block__img {
      display: flex;
      height: 100px; }
    .ba-search-block__title {
      font-family: 'Aleo', serif;
      font-size: 36px; }

.section5 {
  background: url("../img/bg5.jpg") no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column; }

.ba-wrap-end {
  display: flex;
  justify-content: flex-end; }

.section6 {
  background: url("../img/bg6.jpg") no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column; }

.ba-rectangle {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #232323;
  opacity: 0.902;
  height: 62%;
  width: 48%;
  margin-top: 230px;
  padding: 48px 30px;
  display: flex;
  flex-direction: column; }
  .ba-rectangle__name {
    font-size: 20px;
    margin: 0; }
  .ba-rectangle__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 28px; }
  .ba-rectangle__text {
    font-size: 16px;
    margin-top: 28px; }
  .ba-rectangle__btn {
    margin-top: 48px;
    font-family: 'Aleo', serif;
    display: inline-block;
    width: 14.06rem;
    height: 60px;
    display: inline-block;
    color: #fff;
    background-color: #5474fd;
    text-transform: uppercase;
    padding: 24px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s; }

.section7 {
  background: url("../img/bg7.jpg") no-repeat;
  background-size: cover;
  height: 730px; }

.tourist-say {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .tourist-say__title {
    display: block;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 100px;
    font-size: 36px;
    font-family: "Aleo";
    text-align: center; }
  .tourist-say-block {
    display: flex; }
    .tourist-say-block-left {
      width: 40%; }
      .tourist-say-block-left img {
        height: 100%; }
    .tourist-say-block-right {
      width: 60%;
      background-color: #333333;
      font-family: 'Josefin Sans', sans-serif;
      padding: 48px 52px; }
      .tourist-say-block-right__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400; }
      .tourist-say-block-right i {
        display: block;
        font-size: 24px;
        color: #5474fd; }
      .tourist-say-block-right__descr {
        margin: 0;
        text-indent: 20px; }

.ba-footer {
  display: flex;
  justify-content: center;
  background-color: #232323;
  font-family: 'Josefin Sans', sans-serif; }
  .ba-footer-block {
    width: 165px;
    margin-top: 118px; }
    .ba-footer-block__title {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      text-align: center; }
    .ba-footer-block__descr {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 34px; }

.ba-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px; }
  .ba-social__items {
    color: #fff; }
  .ba-social__items:hover {
    color: #5474fd; }
